pipeline/PL_ingest_daily_pricing_data_lab3b.json
{
	"name": "PL_ingest_daily_pricing_data_lab3b",
	"properties": {
		"activities": [
			{
				"name": "Set variable Relative_URL_file_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pln_var_Relative_URL_file_date",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.pln_prm_Relative_URL_file_date,'MMddyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Read Json Metadat",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Relative_URL_file_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_JSON_PRICING_META_DATA_FILES_lab3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Iterate Source File Names",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Read Json Metadat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Read Json Metadat').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data pricing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_SOURCE_PRICING_DATA_lab3",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_Relative_URL": {
											"value": "@concat(pipeline().parameters.pln_prm_Relative_URL_folder_name,item().Relative_URL_file_name,\nvariables('pln_var_Relative_URL_file_date')\n,pipeline().parameters.pln_prm_Relative_URL_file_type)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_DAILY_PRICING_DATA_lab3",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_sink_container_name": {
											"value": "@pipeline().parameters.pln_prm_sink_container_name",
											"type": "Expression"
										},
										"dst_prm_sink_folder_name": {
											"value": "@pipeline().parameters.pln_prm_sink_folder_name",
											"type": "Expression"
										},
										"dst_prm_sink_file_name": {
											"value": "@concat(item().sink_file_name,\nvariables('pln_var_Relative_URL_file_date')\n,pipeline().parameters.pln_prm_sink_file_type)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pln_prm_sink_container_name": {
				"type": "string",
				"defaultValue": "landing"
			},
			"pln_prm_sink_folder_name": {
				"type": "string",
				"defaultValue": "/labs/lab3/"
			},
			"pln_prm_Relative_URL_folder_name": {
				"type": "string",
				"defaultValue": "/labs/lab3/"
			},
			"pln_prm_Relative_URL_file_date": {
				"type": "string",
				"defaultValue": "2023-01-01T10:10:10Z"
			},
			"pln_prm_Relative_URL_file_type": {
				"type": "string",
				"defaultValue": ".csv"
			},
			"pln_prm_sink_file_type": {
				"type": "string",
				"defaultValue": ".csv"
			}
		},
		"variables": {
			"pln_var_Relative_URL_file_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "working-labs"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-31T00:25:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}