pipeline/PL_ingest_maste_data_database_tables.json
{
	"name": "PL_ingest_maste_data_database_tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup Identify Tables in Master Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME from information_schema.tables WHERE table_schema='masterdata'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_MASTER_DATA_META_TABLES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Iteradat",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Identify Tables in Master Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Identify Tables in Master Data').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data Ingest master data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASQL_MASTER_DATA_TABLE",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_schema_name": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"dst_prm_table_name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_MASTER_DATA",
									"type": "DatasetReference",
									"parameters": {
										"dst_prm_sink_container_name": {
											"value": "@pipeline().parameters.pln_prm_container_name",
											"type": "Expression"
										},
										"dst_prm_sink_folder_name": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"dst_prm_sink_file_name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pln_prm_container_name": {
				"type": "string",
				"defaultValue": "landing"
			}
		},
		"folder": {
			"name": "Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-04T00:16:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}