pipeline/pln_copy_retail_raw_to_freindly_data_lake.json
{
	"name": "pln_copy_retail_raw_to_freindly_data_lake",
	"properties": {
		"activities": [
			{
				"name": "gmd_extract_raw_datalake_file_list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dst_csv_raw_data_lake_filelists",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFilesIterate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "gmd_extract_raw_datalake_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gmd_extract_raw_datalake_file_list').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetMetadata_raw_data_lake_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dst_csv_raw_data_lake_files",
									"type": "DatasetReference",
									"parameters": {
										"rawDataLakeFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"itemType",
									"size",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "CheckDeltaFiles",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMetadata_raw_data_lake_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GetMetadata_raw_data_lake_files').output.lastModified,adddays(utcnow(),-7))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_batch_run_date",
											"value": {
												"value": "@activity('GetMetadata_raw_data_lake_files').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"var_batch_run_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-26T15:39:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}