ADF-BDP-DEV-01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-BDP-DEV-01"
		},
		"lns_azure_table_storage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lns_azure_table_storage'"
		},
		"lns_data_lake_storage_raw_data_lake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'lns_data_lake_storage_raw_data_lake'"
		},
		"lns_landing_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'lns_landing'"
		},
		"lns_sql_server_reporting_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lns_sql_server_reporting_db'"
		},
		"lns_data_lake_storage_raw_data_lake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlslandingraw.dfs.core.windows.net"
		},
		"lns_landing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsbdpdatalake.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup landing json source files list",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dst_landing_json_file_list",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-10T16:18:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_landing_json_file_list')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pln_copy_landing_to_standardised')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup landing json source files list",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dst_landing_json_file_list",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Iterate Source File Names",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup landing json source files list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup landing json source files list').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata For Source File",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dst_landing_csvfile",
											"type": "DatasetReference",
											"parameters": {
												"sourceFileName": {
													"value": "@item().sourceFileName",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition Check Source File Exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata For Source File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Get Metadata For Source File').output.exists,true)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy Data Landing To Staging",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dst_landing_csvfile",
														"type": "DatasetReference",
														"parameters": {
															"sourceFileName": {
																"value": "@item().sourceFileName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dst_standardised_csv",
														"type": "DatasetReference",
														"parameters": {
															"targetFileName": {
																"value": "@item().targetFileName",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-11T15:53:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_landing_json_file_list')]",
				"[concat(variables('factoryId'), '/datasets/dst_landing_csvfile')]",
				"[concat(variables('factoryId'), '/datasets/dst_standardised_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pln_copy_retail_raw_to_freindly_data_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gmd_extract_raw_datalake_file_list",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dst_csv_raw_data_lake_filelists",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFilesIterate",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "gmd_extract_raw_datalake_file_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('gmd_extract_raw_datalake_file_list').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetMetadata_raw_data_lake_files",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dst_csv_raw_data_lake_files",
											"type": "DatasetReference",
											"parameters": {
												"rawDataLakeFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"itemType",
											"size",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "CheckDeltaFiles",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetMetadata_raw_data_lake_files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(activity('GetMetadata_raw_data_lake_files').output.lastModified,adddays(utcnow(),-7))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "var_batch_run_date",
													"value": {
														"value": "@activity('GetMetadata_raw_data_lake_files').output.itemName",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_batch_run_date": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-01-26T15:39:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_csv_raw_data_lake_filelists')]",
				"[concat(variables('factoryId'), '/datasets/dst_csv_raw_data_lake_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pln_load_source_to_standardised')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Source Table List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dst_read_source_table_list",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Source Table List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Source Table List').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Variable Using Source Array Value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "keyColumnList",
										"value": {
											"value": "@item().standardisedTableKeyColumns",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Varaible Convert Array to String",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Variable Using Source Array Value",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "keyColumnString",
										"value": {
											"value": "@join(variables('keyColumnList'),',')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"keyColumnList": {
						"type": "Array"
					},
					"keyColumnString": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-08T11:45:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_read_source_table_list')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pln_load_staging_to_sqldb_staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from csv staging to sql staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table staging.STAGING_01_DAILY_PRICING",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "lns_landing",
										"type": "LinkedServiceReference"
									},
									"path": "standardised/logs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DATE_OF_PRICING",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DATE_OF_PRICING",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ROW_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ROW_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "STATE_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MARKET_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MARKET_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCTGROUP_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCTGROUP_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCT_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VARIETY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VARIETY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORIGIN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORIGIN",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ARRIVAL_IN_TONNES",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ARRIVAL_IN_TONNES",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MINIMUM_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MINIMUM_PRICE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAXIMUM_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MAXIMUM_PRICE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MODAL_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MODAL_PRICE",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dst_read_staging_csv_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dst_sql_staging_tables",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-16T17:43:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_read_staging_csv_file')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_staging_tables')]",
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pln_master_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Run All Source Files Processed",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('allsourceprocessedflag')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata Find Number Of Target Files",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "Execute Pipeline Landing to Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "dst_Target_File_List",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"childItems"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "Filter Only File",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "Get Metadata Find Number Of Target Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Get Metadata Find Number Of Target Files').output.childItems",
											"type": "Expression"
										},
										"condition": {
											"value": "@equals(item().type,'File')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable Target File Count",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Filter Only File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "targetFileCount",
										"value": {
											"value": "@string(length(activity('Filter Only File').output.value))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable all source files processed flag",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable Target File Count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "allsourceprocessedflag",
										"value": {
											"value": "@equals(variables('targetFileCount'),'3')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute Pipeline Landing to Staging",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pln_copy_landing_to_standardised",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {}
									}
								}
							],
							"timeout": "00.00:10:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"allsourceprocessedflag": {
						"type": "Boolean",
						"defaultValue": false
					},
					"targetFileCount": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-11T17:21:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_Target_File_List')]",
				"[concat(variables('factoryId'), '/pipelines/pln_copy_landing_to_standardised')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_DIM_STATE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_sql_server_reporting_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "STATE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STATE_NAME",
						"type": "varchar"
					},
					{
						"name": "DWH_CREATED_DATE",
						"type": "date"
					},
					{
						"name": "DWH_UPDATED_DATE",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dwh",
					"table": "DIM_STATE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_sql_server_reporting_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_Target_File_List')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "standardised"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_azure_table_raw_data_lake_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_azure_table_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "tblrawdatalakefiles"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_azure_table_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_csv_raw_data_lake_filelists')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_data_lake_storage_raw_data_lake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "012019",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DATE_OF_PRICING",
						"type": "String"
					},
					{
						"name": "ROW_ID",
						"type": "String"
					},
					{
						"name": "STATE_NAME",
						"type": "String"
					},
					{
						"name": "MARKET_NAME",
						"type": "String"
					},
					{
						"name": "PRODUCTGROUP_NAME",
						"type": "String"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "String"
					},
					{
						"name": "VARIETY",
						"type": "String"
					},
					{
						"name": "ORIGIN",
						"type": "String"
					},
					{
						"name": "ARRIVAL_IN_TONNES",
						"type": "String"
					},
					{
						"name": "MINIMUM_PRICE",
						"type": "String"
					},
					{
						"name": "MAXIMUM_PRICE",
						"type": "String"
					},
					{
						"name": "MODAL_PRICE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_data_lake_storage_raw_data_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_csv_raw_data_lake_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_data_lake_storage_raw_data_lake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"rawDataLakeFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().rawDataLakeFileName",
							"type": "Expression"
						},
						"folderPath": "012019",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_data_lake_storage_raw_data_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_landing_csvfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceFileName": {
						"type": "string",
						"defaultValue": "PW_MW_DR_01012019.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().sourceFileName",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_landing_json_file_list')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "bdp-landing-to-staging-file-list.json",
						"fileSystem": "config"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"sourceFileName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_read_source_table_list')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_data_lake_storage_raw_data_lake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pins-odw-source-to-standardised-table-list.json",
						"folderPath": "config",
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"sourceTableSchemaName": {
							"type": "string"
						},
						"sourceTableName": {
							"type": "string"
						},
						"sourceTableKeyColumns": {
							"type": "string"
						},
						"standardisedFolderName": {
							"type": "string"
						},
						"standardisedTablename": {
							"type": "string"
						},
						"standardisedTableKeyColumns": {
							"type": "string"
						},
						"standardisedDatabaseName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_data_lake_storage_raw_data_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_read_staging_csv_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "trg_PW_MW_DR_01012019.csv",
						"fileSystem": "standardised"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DATE_OF_PRICING",
						"type": "String"
					},
					{
						"name": "ROW_ID",
						"type": "String"
					},
					{
						"name": "STATE_NAME",
						"type": "String"
					},
					{
						"name": "MARKET_NAME",
						"type": "String"
					},
					{
						"name": "PRODUCTGROUP_NAME",
						"type": "String"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "String"
					},
					{
						"name": "VARIETY",
						"type": "String"
					},
					{
						"name": "ORIGIN",
						"type": "String"
					},
					{
						"name": "ARRIVAL_IN_TONNES",
						"type": "String"
					},
					{
						"name": "MINIMUM_PRICE",
						"type": "String"
					},
					{
						"name": "MAXIMUM_PRICE",
						"type": "String"
					},
					{
						"name": "MODAL_PRICE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_source_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceContainerName": {
						"type": "string",
						"defaultValue": "landing"
					},
					"sourceFolderName": {
						"type": "string",
						"defaultValue": "json"
					},
					"sourceFileName": {
						"type": "string",
						"defaultValue": "PW_MW_DR_01012019.json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().sourceFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().sourceFolderName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().sourceContainerName",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"row_id": {
							"type": "integer"
						},
						"Market_Center": {
							"type": "string"
						},
						"Arrivals_in_tonnes": {
							"type": "string"
						},
						"Unit_of_Arrivals": {
							"type": "string"
						},
						"Origin": {
							"type": "string"
						},
						"Variety": {
							"type": "string"
						},
						"Minimum_Price": {
							"type": "string"
						},
						"Maximum_Price": {
							"type": "string"
						},
						"Modal_Price": {
							"type": "string"
						},
						"Unit_of_Price": {
							"type": "string"
						},
						"Others": {
							"type": "string"
						},
						"Pricing_date": {
							"type": "string"
						},
						"state_name": {
							"type": "string"
						},
						"market_name": {
							"type": "string"
						},
						"productgroup_name": {
							"type": "string"
						},
						"productname": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_staging_tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_sql_server_reporting_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE_OF_PRICING",
						"type": "date"
					},
					{
						"name": "ROW_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STATE_NAME",
						"type": "varchar"
					},
					{
						"name": "MARKET_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCTGROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "varchar"
					},
					{
						"name": "VARIETY",
						"type": "varchar"
					},
					{
						"name": "ORIGIN",
						"type": "varchar"
					},
					{
						"name": "ARRIVAL_IN_TONNES",
						"type": "varchar"
					},
					{
						"name": "MINIMUM_PRICE",
						"type": "varchar"
					},
					{
						"name": "MAXIMUM_PRICE",
						"type": "varchar"
					},
					{
						"name": "MODAL_PRICE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "STAGING_01_DAILY_PRICING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_sql_server_reporting_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_standardised_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lns_landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"targetFileName": {
						"type": "string",
						"defaultValue": "PW_MW_DR_01012019.csv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().targetFileName",
							"type": "Expression"
						},
						"fileSystem": "standardised"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lns_landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lns_azure_table_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('lns_azure_table_storage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lns_data_lake_storage_raw_data_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lns_data_lake_storage_raw_data_lake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('lns_data_lake_storage_raw_data_lake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lns_landing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lns_landing_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('lns_landing_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lns_sql_server_reporting_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lns_sql_server_reporting_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfl_dim_state')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dst_sql_staging_tables",
								"type": "DatasetReference"
							},
							"name": "sourcereadstatenames"
						},
						{
							"dataset": {
								"referenceName": "dst_DIM_STATE",
								"type": "DatasetReference"
							},
							"name": "sourcedimstate"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dst_DIM_STATE",
								"type": "DatasetReference"
							},
							"name": "sinkDIMSTATE"
						}
					],
					"transformations": [
						{
							"name": "SurrogateKeyForStateID"
						},
						{
							"name": "LookupTargetDimensionTable"
						},
						{
							"name": "SelectMappedTargetColumns"
						},
						{
							"name": "AlterRowInsertNewStateNames"
						},
						{
							"name": "DerivedColumnCreatedUpdatedTimestamp"
						}
					],
					"script": "source(output(\n\t\tSTATE_NAME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'SELECT DISTINCT\\n  [STATE_NAME]\\n  FROM [staging].[STAGING_01_DAILY_PRICING]',\n\tformat: 'query') ~> sourcereadstatenames\nsource(output(\n\t\tSTATE_ID as integer,\n\t\tSTATE_NAME as string,\n\t\tDWH_CREATED_DATE as date,\n\t\tDWH_UPDATED_DATE as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> sourcedimstate\nsourcereadstatenames keyGenerate(output(STATE_ID as long),\n\tstartAt: 1L,\n\tstepValue: 1L) ~> SurrogateKeyForStateID\nSurrogateKeyForStateID, sourcedimstate lookup(sourcereadstatenames@STATE_NAME == sourcedimstate@STATE_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupTargetDimensionTable\nLookupTargetDimensionTable select(mapColumn(\n\t\tSTATE_NAME = sourcereadstatenames@STATE_NAME,\n\t\tSTATE_ID = SurrogateKeyForStateID@STATE_ID,\n\t\tTARGET_STATE_ID = sourcedimstate@STATE_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectMappedTargetColumns\nSelectMappedTargetColumns alterRow(insertIf(isNull(TARGET_STATE_ID))) ~> AlterRowInsertNewStateNames\nAlterRowInsertNewStateNames derive(PROCESSING_DATE = currentDate()) ~> DerivedColumnCreatedUpdatedTimestamp\nDerivedColumnCreatedUpdatedTimestamp sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tSTATE_ID as integer,\n\t\tSTATE_NAME as string,\n\t\tDWH_CREATED_DATE as date,\n\t\tDWH_UPDATED_DATE as date\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tSTATE_ID,\n\t\tSTATE_NAME,\n\t\tDWH_CREATED_DATE = PROCESSING_DATE,\n\t\tDWH_UPDATED_DATE = PROCESSING_DATE\n\t)) ~> sinkDIMSTATE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_sql_staging_tables')]",
				"[concat(variables('factoryId'), '/datasets/dst_DIM_STATE')]"
			]
		}
	]
}